[merge]
  keepBackup = false
	tool = p4mergetool
[diff]
	tool = kdiff3
[user]
	name = octav
	email = zahariao@gmail.com
[alias]
	tree = log --graph --full-history --all --color --date=short --pretty=format:\"%Cred%x09%h %Creset%ad%Cblue%d %Creset %s %C(bold)(%an)%Creset\"
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/nvim
[push]
	default = current
[gc]
	autoDetach = false
[mergetool "p4mergetool"]
	trustExitCode = false
	keepBackup = false
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
