[user]
	name = octav
	email = zahariao@gmail.com
[alias]
	tree = log --graph --full-history --all --color --date=short --pretty=format:\"%Cred%x09%h %Creset%ad%Cblue%d %Creset %s %C(bold)(%an)%Creset\"
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/nvim
[push]
	default = current
[gc]
	autoDetach = false
[diff]
  tool = vimdiff
[merge]
	tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $MERGED $BASE $REMOTE   -c 'wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
