set ignorecase
set smartcase
set incsearch
set surround
set multiple-cursors
set commentary

let mapleader = " "

nmap <Leader>f :action FindInPath<CR>
nmap <Leader>n :action GotoFile<CR>
nmap <Leader>cc :action CommentByLineComment<CR>
nmap <Leader>cs :action CommentByBlockComment<CR>
nmap <Leader>en :action GotoNextError<CR>
nmap <Leader>ep :action GotoPreviousError<CR>
nmap <Leader>ee :action ShowErrorDescription<CR>
nmap <Leader>re :action RenameElement<CR>
nmap <Leader>tf :action RerunFailedTests<CR>
nmap <Leader>t :action RerunTests<CR>
nmap <Leader>rr :action Rerun<CR>
nmap <Leader>su :action ShowUsages<CR>
nmap <Leader>fu :action FindUsages<CR>
nmap <Leader>q :action HideAllWindows<CR>

" Press `f` to activate AceJump
map s :action AceAction<CR>
" Press `F` to activate Target Mode
map M :action AceTargetAction<CR>
" Press `g` to activate Line Mode
set ideajoin
